@import '../../../styles/_variables';

nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: $navbar-height ;
    background-color: $secondary    !important;
}

span, .nav-link{
    color: #FFFFFF !important;
}

a{
        &.active{
            border-bottom: 3px solid lightgrey;
        }
}

.nav-item{
    margin-right: 15px;
}

