@import '../../../../../styles/_variables';
.chatroom-list{
    background-color: $primary;
    border-right: 2px groove white;
    overflow-y: none;
    color: white;

    .chatroom-list-item{
        border-bottom: 2px solid white;
        padding: 15px;
    }

    a{
        margin-left: 10%;
        color: white;
    }
}